pandas
boto3
azure-ai-formrecognizer
azure-ai-documentintelligence
tiktoken
PyPDF2
pip-tools
python-dotenv
langchain
langchain-community
langchain-core
langchain-openai
openai
pyodbc
openpyxl
pypdf
pydantic
pydantic_core
xlsxwriter
unstructured
networkx 